<div class="topbar primary-color-dark logged-in">
	<div class="menu-container">
		<div class="row">
			<div class="col-sm-12 topbar-container flex-items-sm-middle">
				<div class="topbar-contacts">
					<ul>
						<li class="last hidden-lg-up">
                            <a href="https://www.champion-fx.com/en/contact.html">
                                <span class="fx-topbar fx-contact"></span>
                            </a>
                        </li>
                        <li class="last hidden-lg-down">
                            <a href="https://www.champion-fx.com/en/contact.html">Contact Us</a>
                        </li>					
					</ul>
				</div>
				<div class="upgrade-message pulser invisible">
					
				</div>
				<div class="invisible">
					<div class="languages">
						<ul id="display_language">
							<li class="EN"> <span class="world world-white"></span> <span class="language">English</span> <span class="nav-caret"></span> </li>
						</ul>
						<ul id="select_language">
							<li class="EN"> <span class="world world-black"></span> <span class="language">English</span> <span class="nav-caret"></span> </li>
							<li class="ID">Indonesia</li>
							<li class="DE">Deutsch</li>
							<li class="EN invisible">English</li>
							<li class="ES">Español</li>
							<li class="FR">Français</li>
							<li class="IT">Italiano</li>
							<li class="PL">Polski</li>
							<li class="PT">Português</li>
							<li class="RU">Русский</li>
							<li class="VI">Tiếng Việt</li>
							<li class="ZH_CN">简体中文</li>
							<li class="ZH_TW">繁體中文</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="header" class="dark-blue header">
	<nav class="navbar">
		<div class="container">
			<span class="navbar__toggle" id="toggle-menu" href="button"></span>
			<a class="navbar__brand fx-logo" href="https://champion-fx.com">
				<span class="fx-logo__icon--light"></span>
				<span class="fx-logo__wordmark--light"></span>
			</a>
			<div class="navbar__nav">
				<ul class="navbar__nav__menu">
					<li><a href="https://www.champion-fx.com/en/about-us.html"><span class="fx-about fx"></span>About Us</a></li>
					<li>
						<a class="navbar__nav__toggle" href="javascript:;">
							<span class="fx-mt5-o fx"></span>
							MetaTrader 5
						</a>
						<ul class="navbar__nav__menu">
							<li><a href="https://www.champion-fx.com/en/forex.html">Forex</a></li>
							<li><a href="https://www.champion-fx.com/en/cfd.html">CFDs</a></li>
							<li><a href="https://www.champion-fx.com/en/metals.html">Metals</a></li>
							<li><a href="https://www.champion-fx.com/en/economic-calendar.html">Economic calendar</a></li>
						</ul>
					</li>
					<li>
						<a class="navbar__nav__toggle" href="javascript:;">
							<span class="fx-binary fx"></span>
							Binary Options
						</a>
						<ul class="navbar__nav__menu">
							<li><a href="https://www.champion-fx.com/en/binary-options.html">About binary options</a></li>
							<li><a href="https://www.champion-fx.com/en/types-of-accounts.html">Types of accounts</a></li>
						</ul>
					</li>
					<li><a href="https://www.champion-fx.com/en/trading-platform.html"><span class="fx-trading fx"></span>Trading Platforms</a></li>
					<li><a href="https://www.champion-fx.com/en/partnerships.html"><span class="fx-partnership fx"></span>Partnerships</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<div class="primary-color-dark mt5-header ">
	<div class="fx-panel center-text container fx-middle">
		<div class="row">
			<div class="col-md-12">
				<h1 class="content-inverse-color">Academy</h1>
				<p class="content-inverse-color">Welcome to the ChampionFX Academy where you can learn to be a better trader and stay up-to-date with the latest financial trends.</p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md Subheader">
		<ul class="">
			{% include navs/navigation.html %}
		</ul>
		</div>
	</div>
</div>