<div class="topbar primary-color-dark">
	<div class="menu-container">
		<div class="row">
			<div class="col-sm-12 topbar-container flex-items-sm-middle">
				<div class="topbar-contacts">
					<ul>
						<li class="last"><a href="https://www.champion-fx.com/en/contact.html">Contact Us</a></li>
						<li id="main-login" class="FX__Header__cta "><a class="button-secondary" href="https://www.champion-fx.com">Log In</a></li>
					</ul>
				</div>
				<div class="upgrade-message pulser invisible">
					
				</div>
				<div class="invisible">
					<div class="languages">
						<ul id="display_language">
							<li class="EN"> <span class="world world-white"></span> <span class="language">English</span> <span class="nav-caret"></span> </li>
						</ul>
						<ul id="select_language">
							<li class="EN"> <span class="world world-black"></span> <span class="language">English</span> <span class="nav-caret"></span> </li>
							<li class="ID">Indonesia</li>
							<li class="DE">Deutsch</li>
							<li class="EN invisible">English</li>
							<li class="ES">Español</li>
							<li class="FR">Français</li>
							<li class="IT">Italiano</li>
							<li class="PL">Polski</li>
							<li class="PT">Português</li>
							<li class="RU">Русский</li>
							<li class="VI">Tiếng Việt</li>
							<li class="ZH_CN">简体中文</li>
							<li class="ZH_TW">繁體中文</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="header" class="dark-blue header">
	<div class="menu-container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-6 vertical-center">
				<div class="logo-wrapper">
					<a href="{{ "/" | relative_url }}" class="logo-parent">
						<div class="logo">
							<div></div>
						</div>
						<div class="binary-logo-text hidden-xs-down">
							<div></div>
						</div>
					</a>
				</div>
			</div>
		<div class="col-md-2 push-md-7 col-sm-6 col-xs-6 vertical-center">
			<div id="main-logout" class="hidden-lg-up">
				<ul id="main-account" class="nav-menu main-nav">
					<li id="mobile_menu_icon" class="logged-out vertical-center hidden-lg-up invisible"><span></span></li>
					<li class="account logged-in invisible">
						<a href="javascript:;">
							<div class="main-account">
								<div class="account-type"></div>
								<div class="account-id"></div>
								<div class="topMenuBalance"></div>
							</div>
							<div class="nav-caret"></div>
						</a>
					</li>
				</ul>
				<ul id="all-accounts" class="nav-menu main-nav">
					<li class="account">
						
						<ul>
							<a class="link logged-out" href="https://www.champion-fx.com/en/home.html#signup">
								<li>Sign Up</li>
							</a>
							
							<div class="separator-line-thin-gray invisible logged-in"></div>
							<a href="https://www.champion-fx.com/en/about-us.html" class="hidden-lg-up">
								<li>About</li>
							</a>
							<li class="hidden-lg-up has-sub">
								<a href="javascript:;">MT5</a>
									<ul class="invisible">
										<li><a href="https://www.champion-fx.com/en/forex.html">Forex</a></li>
										<li><a href="https://www.champion-fx.com/en/cfd.html">CFDs</a></li>
										<li><a href="https://www.champion-fx.com/en/metals.html">Metals</a></li>
									</ul>
							</li>
							<a href="https://www.champion-fx.com/en/binary-options.html" class="hidden-lg-up">
								<li>Binary Options</li>
							</a>
							<a href="https://www.champion-fx.com/en/trading-platform.html" class="hidden-lg-up">
								<li>Trading Platforms</li>
							</a>
							<a href="https://www.champion-fx.com/en/partnerships.html" class="hidden-lg-up">
								<li>Partnerships</li>
							</a>
							<div class="separator-line-thin-gray hidden-lg-up invisible logged-in"></div>
							<div class="login-id-list"></div>
							<a href="javascript:;" id="btn_logout" class="logout invisible logged-in">
								<li>Sign out</li>
							</a>
						</ul>
					</li>
				</ul>
			</div>
				<div id="main-signup" class="logged-out hidden-lg-down">
					<ul class="signup-button">
						<li class=""><a class="button-secondary" href="https://www.champion-fx.com/en/home.html#signup"><span>Sign Up</span></a></li>
					</ul>
				</div>
		</div>
			<div class="col-md-7 pull-md-2 hidden-lg-down vertical-center">
				<ul class="top-nav-menu">
					<li><a href="https://www.champion-fx.com/en/about-us.html" class="nav-dropdown-toggle">About</a></li>
					<li><a href="javascript:;" class="nav-dropdown-toggle">MT5<span class="nav-caret"></span></a>
						<ul>
							<li><a href="https://www.champion-fx.com/en/forex.html">Forex</a></li>
							<li><a href="https://www.champion-fx.com/en/cfd.html">CFDs</a></li>
							<li><a href="https://www.champion-fx.com/en/metals.html">Metals</a></li>
						</ul>
					</li>
					<li><a href="https://www.champion-fx.com/en/binary-options.html" class="nav-dropdown-toggle">Binary Options</a></li>
					<li><a href="https://www.champion-fx.com/en/trading-platform.html" class="nav-dropdown-toggle">Trading Platforms</a></li>
					<li><a href="https://www.champion-fx.com/en/partnerships.html" class="nav-dropdown-toggle">Partnerships</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="primary-color-dark mt5-header">
	<div class="fx-panel center-text container">
		<h1 class="content-inverse-color">Academy</h1>
		<p class="content-inverse-color">Welcome to the ChampionFX Academy where you can learn to be a better trader and stay up-to-date with the latest financial trends.</p>
		<div class="offset-lg-4 offset-md-2">
			<form id="verify-email-form" class="frm-verify-email">
				<div class="row signup-box">
					<div class="col">
					<input class="clean-input secondary-input" autocomplete="off" name="email" id="email" maxlength="50" placeholder="Enter your email">
					<button class="button" id="btn-verify-email" type="submit">Create Free Account</button>
					<span class="error-msg hint color-white center-text invisible" id="signup_error"></span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md Subheader">
		<ul class="">
			{% include navs/navigation.html %}
		</ul>
		</div>
	</div>
</div>