---
layout: compress
---
<!DOCTYPE html>
{% include lang.html %}
<html lang="{{ siteLang }}">
  {% include head.html %}
    {% include header.html %}	
		<main class="page-content" aria-label="Content" id="champion-container">
			<div class="wrapper" id="champion-content">
				<div class="container">
					<div class="row">
						<div class="col-md">
							<h1>Daily Report</h1>							
						</div>
					</div>
					<div class="LC-main">
						<div class="row">						
								<div class="col-md-2">
										{% include sidebar/daily-report-list.html %}
								</div>
								<div class="col-md-10">
									<div class="LC-content">
										<h1>{{ page.title }}</h1>
										<p class="post--date">{{ page.date | date: "%d.%m.%Y" }}</p>
										<div class="rte">{{ content }}</div>
									</div>
								</div>							
						</div>	
					</div>
				</div>
			</div>
		</main>	
     {% include footer.html %}  
    </body>
</html>
